[submodule "local/lib/curl-php"]
	path = local/lib/curl-php
	url = https://gitlab.com/sexycoders/curl-php.git
[submodule "local/lib/PHP-CPP"]
	path = local/lib/PHP-CPP
	url = https://github.com/CopernicaMarketingSoftware/PHP-CPP.git
[submodule "var/slim/oauth2"]
	path = var/slim/oauth2
	url = https://github.com/bshaffer/oauth2-server-php.git
